@charset "utf-8";

/* section1 */
#section1{position: relative; overflow: hidden;}
#section1 .slick-dots{display: flex; gap: 0 14px; align-items: center; justify-content: center; position: absolute; bottom: 40px; left: 50%; transform: translateX(-50%); width: 100%;}
#section1 .slick-dots li.slick-active button{width: 24px; background: #f88b26;}
#section1 .slick-dots li button{display: block; width: 6px; height: 6px; text-indent: -9999px; border-radius: 50px; background-color:#fff; cursor: pointer;}
#section1 .control button{position: absolute; top: 50%; transform: translateY(-50%); display: block; width: 26px; height: 51px; background: url(../images/main/slide_btn.png)no-repeat; cursor: pointer;}
#section1 .control button.prev{left:214px;}
#section1 .control button.next{right:214px; transform: translateY(-50%) rotate(180deg);}
#section1 .sub_link_wrap .container{position: relative;}
#section1 .sub_link{padding: 32px 22px 0 23px; width: 180px; height: 470px; position: absolute; top:0; left:0; bottom: 0; background-color: rgba(57, 140, 182, .7); z-index: 9;}
#section1 .sub_link li h2 a{position: relative; display: block; padding: 16px 8px 12px 8px; font-size: 17px; font-weight: 700; color: #fff; line-height: 1;}
#section1 .sub_link li h2 a:hover::after{content: ''; position: absolute; top:19px; right:0; background: url(../images/main/arrow.png)no-repeat; width: 5px; height: 9px;}
#section1 .sub_link li h2 a::before{content: ''; position: absolute; left:0; bottom: 0; width: 0; transition: all .3s; height: 1px; background-color: #fff;}
#section1 .sub_link li h2 a:hover:before{width: 100%;}

/* section2 */
#section2{padding: 66px 0 35px;}
#section2 .slick_wrap{position: relative;}
.com_tit{margin-bottom: 35px;}
.com_tit h3{margin-bottom: 12px; font-size: 42px; color: #000; line-height: 1; text-align: center; font-weight: 800;}
.com_tit span{display: block; font-size: 18px; font-weight: 700; color: #f68c25; line-height: 1; text-align: center;}
#section2 .control button{position: absolute; top: 50%; transform: translateY(-50%); width: 42px; height: 42px; background: url(../images/main/slide_btn2.png)no-repeat; cursor: pointer;}
#section2 .control button.prev{left:-62px;}
#section2 .control button.next{right: -62px; transform: translateY(-50%) rotate(180deg);}
#section2 .slide_list1 li{width: 263px; height: 293px; margin-right: 10px;}
#section2 .slide_list1 li img{display: block; width: 100%; height: 100%; object-fit: cover;}

/* section3 */
#section3{padding: 35px 0 100px;}
#section3 .com_tit{margin-bottom: 34px;} 
#section3 .slide_list2{display: flex; flex-wrap: wrap; gap: 0 17px;}
#section3 .slide_list2 li{margin-bottom: 20px;}
#section3 .slide_list2 li a{display: block; width: 257px; height: 448px; border: 1px solid #dbdbdb; border-radius: 20px ; overflow: hidden;}
#section3 .slide_list2 li a .img_box{height: 255px;}
#section3 .slide_list2 li a .img_box img{display: block; width: 100%; height: 100%;}  
#section3 .slide_list2 li a .text_box{padding: 30px 0 0;}
#section3 .slide_list2 li a .text_box .text{display: block; margin-bottom: 16px; font-size: 16px; color: #f68c25; text-align: center; line-height: 1; transform: skew(-0.03deg);}
#section3 .slide_list2 li a .text_box h4{height: 52px; margin-bottom: 26px; line-height: 26px; text-align: center; font-size: 18px; font-weight: 700; color: #000; text-align: center;}
#section3 .slide_list2 li a .text_box .price_wrap{display: flex; gap: 0 7px; align-items:center; justify-content: center; line-height: 1;}
#section3 .slide_list2 li a .text_box .price_wrap > em{position: relative; display: block; padding: 0 5px ; font-size: 18px; color: #999; font-style: normal; letter-spacing: -1px;}
#section3 .slide_list2 li a .text_box .price_wrap > em::after{content:''; position: absolute; top: 50%;  left:0; right:0; height: 1px; background-color: #999;}
#section3 .slide_list2 li a .text_box .price_wrap .price_text{font-weight: 800; color: #000; font-size: 24px; letter-spacing: -2px;}
#section3 .slide_list2 li a .text_box .price_wrap .price_text em{font-size: 18px; font-weight: 700; font-style: normal;}